.configuration-scalar-editor {
    border-radius: var(--mud-default-borderradius);
}

.configuration-scalar-editor.modified-input {
    background-color: var(--mo-color-state-warning-soft-background);
}

.configuration-scalar-editor.invalid-input ::deep .mud-input .mud-input-outlined-border,
.configuration-scalar-editor.invalid-input ::deep .mud-input.mud-input-focused .mud-input-outlined-border {
    border-color: var(--mud-palette-error-darken) !important;
    box-shadow: 0 0 0 1px var(--mud-palette-error-darken);
}
