.kb-selector-button ::deep .mud-icon-root {
    color: var(--mud-palette-text-secondary);
}

.kb-selector-button.active {
    background-color: rgba(var(--mud-palette-primary-rgb), 0.1);
}

.kb-selector-button.active ::deep .mud-icon-root {
    color: var(--mud-palette-primary);
}
