.result-grid-wrapper ::deep .success-card {
    background: var(--mud-palette-success-lighten);
}

.result-grid-wrapper ::deep .error-card {
    background: var(--mud-palette-error-lighten);
}

.error-details-wrapper ::deep .error-list {
    max-height: 400px;
    overflow-y: auto;
}
