.register-centre-page ::deep .register-centre-tabs > .mud-tabs-panels > .mud-tab-panel {
    padding: 0;
}

.tab-content-panel {
    padding: 24px;
}

@media (max-width: 960px) {
    .tab-content-panel {
        padding: 16px;
    }
}
